{{ attach_library('socialbase/hero')}}

<div id="block-socialblue-anhomepageheroblock" class="cover cover-with-canvas cover-img" style="background-image: url({{ base_path }}/{{ active_theme_path() }}/assets/images/website-hero.jpg)">

  <div class="cover-wrap">
    <div class="hero-canvas">

        
      <div class="field field--name-field-text-block field--type-text-long field--label-hidden field--item">
        <h3>Welcome to 'Incomplete Study' community!</h3>
        <p>This community is powered by Open Social, the plug-and-play community solution for NGOs and semi-governmental organizations.</p>
      </div>

      <div class="hero-cta-wrapper">
        <a href="/user/register" class="btn btn-primary waves-effect waves-btn waves-light">Sign up</a>
        <a href="/user/login" class="btn btn-default waves-effect waves-btn">Login</a>
      </div>

    </div>
  </div>
  
</div>
